.participate-names {
    text-align: center;
    margin-top: 5px;
}

.participate-div {
    margin-left: 10px;
}

.participate-profile {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.added-group-list {
    border: 1px solid silver;
    margin-right: 10px;
    white-space: nowrap;
    border-radius: 8px;
}

.added-group-list:hover {
    background-color: #f8f9fa;
}

.added-group-list-maindiv {
    overflow-x: auto;
    padding: 0.2rem 1.25rem;
}

.group-inner-div {
    padding: 8px 5px 5px 5px;
}

.group-details {
    align-self: center;
}

.group-cursor-pointer {
    cursor: pointer;
    position: absolute;
    right: -1px;
    top: -6px;
}

.groupList-maindiv {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.group-invitee-div {
    /* border-bottom: 1px solid silver; */
    margin-bottom: 10px;
}

.invitee-list {
    padding: 0.5rem 1.25rem !important;
    border: 0 !important;
}

.invitee-herder {
    padding: 0.75rem 1rem;
}

.show-more-invitee {
    top: 0px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 104, 182, 0.6);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.create-event-modal .modal-content {
    width: auto;
}