.event-radio .form-check-input {
  margin-top: 0.1rem !important;
}

.ReactModalPortal>div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 0.15s linear;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-open {
  opacity: 1;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-size-25 {
  font-size: 25px !important;
}

.font-size-32 {
  font-size: 32px !important;
}

.max-height-500 {
  max-height: 500px;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-none {
  overflow-x: hidden;
}

.vertical-dot {
  align-self: center;
  color: black;
}

.vertical-dot:hover {
  text-decoration: none;
  color: black;
}

.vertical-dot:after {
  content: '\2807';
  font-size: 30px;
}

.padding-top-bottom {
  padding: 5px 0 5px 0;
}

.participate-subdiv {
  display: block;
}

.location-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.date-not-selected {
  color: #000000;
}

.date-selected {
  color: #ffffff;
  background-color: #007bff;
}